{% extends "layout.html" %}
{% block title %}seleniumbs-{{ super() }}{% endblock %}
{% block content %}
<h1 class="display-4 m-5 text-center font-weight-bold text-info">Selenium-BeautifulSoup</h1>
<h3 class="text-center text-warning">You can extract secondhand cars info from goo-net database.<br>Note it may take a bit long time.</h3>
<form method="POST" class='form mx-auto w-75'>
    {{ form.csrf_token }}
    <div class="form-group mx-sm-5 mb-2">
        <label>{{ form.keywords.label }}</label>
        {% if form.keywords.errors %}
            {{ form.keywords(class="form-control form-control-lg border-danger") }}
            <div>
                {% for error in form.keywords.errors %}
                    <span class='text-danger'>{{ error }}</span>
                    <br>
                {% endfor%}
            </div>
        {% else %}
            {{ form.keywords(class="form-control form-control-lg  border-success") }}
        {% endif %}
    </div>

    {{ form.submit(class="btn btn-lg btn-info btn-block mt-4 mb-5") }}
{% if car_list %}
<figure class='figure'>
<img src="{{ url_for('static', filename=filename) }}" class="img-fluid">
<figcaption class="figure-caption">A caption for the above image.</figcaption>
</figure>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">car name</th>
        <th scope="col">base price</th>
        <th scope="col">total price</th>
        <th scope="col">store name</th>
        <th scope="col">store tel</th>
        <th scope="col">details</th>
      </tr>
    </thead>
    <tbody>
    {% for car in car_list %}
      <tr>
        <th scope="row">{{ loop.index }}</th>
        <td>
            {{ car['car_name'] }}<br>
            <a href="{{ car['url'] }}">詳細情報ページへ</a>
        </td>
        <td>{{ car['base_price'] }}万円</td>
        <td>{{ car['total_price'] }}万円</td>
        <td>{{ car['store_name'] }}</td>
        <td>{{ car['store_tel'] }}</td>
        {% if car['details'] %}
        <td>{{ car['year'] }}, {{ car['runs'] }}km, {{ car['displacement'] }}cc, {{ car['mission'] }}, {{ car['warranty']}}, {{ car['repair'] }}</td>
        {% else %}
        <td></td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endif %}
    
{% endblock content %}
