{% extends "layout.html" %} {% block title %}store-{{ super() }}{% endblock %}
{% block content %}
<h1 class="display-4 m-5 text-center font-weight-bold text-info">Store</h1>
<h3 class="text-center text-warning mb-5">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, ut blanditiis nostrum nobis maiores numquam ducimus suscipit quasi optio quia ipsam nisi laudantium eaque odit earum? Repellat dolor eius enim.

</h3>

<div class="card-group">
  {% for product in products %}
  <div class="card mx-auto" style="min-width: 240px; max-width: 240px">
    <a
      class="btn btn-secondary"
      data-toggle="modal"
      data-target="#itemModal{{loop.index}}"
    >
    {% if product.image_path %}
    <img
        src="{{ url_for('static', filename=product.image_path) }}"
        class="card-img-top"
      />
    {% else %}
      <img
        src="{{ url_for('static', filename='images/product/alt_image.jpg') }}"
        class="card-img-top"
      />
    {% endif %}
    </a>
    <div
      class="modal fade"
      id="itemModal{{loop.index}}"
      tabindex="-1"
      aria-labelledby="itemModalLabel{{loop.index}}"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5
              class="modal-title text-warning"
              id="itemModal{{loop.index}}"
            >
              #{{ product.id }}-{{ product.product_name}}
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {% if product.image_path %}
        <img
            src="{{ url_for('static', filename=product.image_path) }}"
            class="card-img-top"
          />
        {% else %}
          <img
            src="{{ url_for('static', filename='images/product/alt_image.jpg') }}"
            class="card-img-top"
          />
        {% endif %}
            </div>
          </div>
        </div>
      </div>
    <div class="card-body">
      <h5 class="card-title text-center text-warning">
        #{{ product.id }}-{{ product.product_name }}
      </h5>
      <p class="card-text">Price：{{ product.price }} GOLD</p>
      <p class="card-text">Comment：{{ product.comment }}</p>
      {% if product.stock > 10 %}
      <p class="card-text">Stock：enough</p>
      {% elif product.stock > 5 %}
      <p class="card-text">Stock：not many</p>
      {% elif product.stock > 2 %}
      <p class="card-text">Stock：quite few</p>
      {% elif product.stock == 0 %}
      <p class="card-text">Stock：none</p>
      {% endif %}

      <p class="card-text"><small class="text-muted">Last updated:</small></p>
      
        <button class="btn btn-md btn-danger btn-block" type="button" data-toggle="modal" data-target="#addcart{{ loop.index }}">
          Add to Cart
        </button>
      <div class="modal fade" id="addcart{{ loop.index }}" tabindex="-1" aria-labelledby="addcart{{ loop.index }}Label" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addcart{{ loop.index }}Label">Are you sure to add this to your cart?</h5>
              </button>
            </div>
            <div class="modal-body">
              "{{ product.product_name}}"
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <form method="GET">
                <input type="hidden" value="{{ product.id }}" name="addcart_id" />
                <button  type="submit" class="btn btn-primary">Yes, add it to my cart</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

</div>
{% endblock content %}
