{% extends "layout.html" %}

{% block title %}
registration-{{ super() }}
{% endblock %}

{% block content %}
<h1 class="display-4 m-5 text-center font-weight-bold text-info">Registration Page</h1>
<form method="POST" class='form mx-auto w-75'>
    {{ form.csrf_token }}
    <div class="form-group mx-sm-3 mb-2">
        <label>{{ form.username.label }}</label>
        {% if form.username.errors %}
            {{ form.username(class="form-control form-control-lg border-danger") }}
            <div>
                {% for error in form.username.errors %}
                    <span class='text-danger'>{{ error }}</span>
                    <br>
                {% endfor%}
            </div>
        {% else %}
            {{ form.username(class="form-control form-control-lg  border-success") }}
        {% endif %}
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <label>{{ form.email.label }}</label>
        {% if form.email.errors %}
            {{ form.email(class="form-control form-control-lg border-danger") }}
            <div>
                {% for error in form.email.errors %}
                    <span class='text-danger'>{{ error }}</span>
                    <br>
                {% endfor%}
            </div>
        {% else %}
            {{ form.email(class="form-control form-control-lg  border-success") }}
        {% endif %}
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <label>{{ form.email_confirm.label }}</label>
        {% if form.email_confirm.errors %}
            {{ form.email_confirm(class="form-control form-control-lg border-danger") }}
            <div>
                {% for error in form.email_confirm.errors %}
                    <span class='text-danger'>{{ error }}</span>
                    <br>
                {% endfor%}
            </div>
        {% else %}
            {{ form.email_confirm(class="form-control form-control-lg  border-success") }}
        {% endif %}
    </div>
    <div></div>
    {{ form.submit(class="btn btn-success btn-lg btn-block mt-5") }}
</form>

{% endblock content %}
