{% extends "layout.html" %}

{% block title %}
setpassword-{{ super() }}
{% endblock %}

{% block content %}
<h1 class="display-4 m-5 text-center font-weight-bold text-info">Set Password Page</h1>
<form method="POST" class='form mx-auto w-75'>
    {{ form.csrf_token }}
    <div class="form-group mx-sm-3 mb-2">
        <label>{{ form.password.label }}</label>
        {% if form.password.errors %}
            {{ form.password(class="form-control form-control-lg border-danger") }}
            <div>
                {% for error in form.password.errors %}
                    <span class='text-danger'>{{ error }}</span>
                    <br>
                {% endfor%}
            </div>
        {% else %}
            {{ form.password(class="form-control form-control-lg  border-success") }}
        {% endif %}
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <label>{{ form.password_confirm.label }}</label>
        {% if form.password_confirm.errors %}
            {{ form.password_confirm(class="form-control form-control-lg border-danger") }}
            <div>
                {% for error in form.password_confirm.errors %}
                    <span class='text-danger'>{{ error }}</span>
                    <br>
                {% endfor%}
            </div>
        {% else %}
            {{ form.password_confirm(class="form-control form-control-lg  border-success") }}
        {% endif %}
    </div>
    {{ form.submit(class="btn btn-success btn-lg btn-block mt-5") }}
</form>
{% endblock content %}
